@use '../utils' as *;

.header {
  @include flex();
  background: var(--bg-secondary);
  border-bottom: 1px solid rgba(204, 204, 204, 0.267);

  button:disabled {
    background: gray;
  }

  &__title {
    flex: none;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
    border-right: 1px solid rgba(204, 204, 204, 0.267);
    padding: 1.5rem 1rem;
    max-width: 18rem;
    display: none;

    @media screen and (min-width:32rem) {
      display: block;
      width: 10rem;
    }

    // flex: 1 1 0;


  }

  &__board-name {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    i {
      svg {
        stroke-width: 1.1px;
        width: .9rem;
        height: .9rem;
        stroke: $light-purple;
      }
    }
  }

  &__actions {
    @include flex();
    gap: 0rem .5rem;
    margin-left: auto;
    margin-right: 1rem;


    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

  }

  &__add-board {
    background: $light-purple;
    padding: .2rem .5rem;
    border-radius: .5rem;
    color: $white;

    span {
      display: none;
    }

    svg {
      stroke-width: 5px;
    }

  }


  @media screen and (min-width:48rem) {
    &__title {
      font-size: 1.4rem;
      width: 18rem;


    }

    &__board-name {
      font-size: 1.4rem;

      i {
        display: none;
      }
    }

    &__add-board {
      font-weight: 600;
      font-size: .9rem;
      padding: .5rem 1rem;
      @include flex();

      gap: 0rem .3rem;

      span {
        display: block;
      }

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}