@use '../utils' as *;




.boards-modal {
    &.modal {
        inset: auto;
        height: auto;
        top: 8rem;
    }

    .board-select {
        text-transform: capitalize;

        h1 {
            font-size: .9rem;
            padding: 0rem 2rem 0rem 1.5rem;
            font-weight: 600;

        }

        &__options {
            margin-top: 1rem;
            @include flex($direction: column, $align: stretch);
            gap: 1rem 0rem;
        }

        &__option {
            @include flex();
            gap: 0rem .5rem;
            padding: .5rem 1rem .5rem 1.5rem;
            font-weight: 600;
            color: $gray-blue;
            width: fit-content;
            border-radius: 0rem 5rem 5rem 0rem;
            cursor: pointer;

            &:hover {
                color: white;
                background: hsla(242, 39%, 57%, 0.507);
            }

            svg {
                width: 1.3rem;
                height: 1.3rem;
            }

            &.active {
                background: $light-purple;
                color: $white;
            }
        }
    }

}

.create-new {
    padding: 1rem 2rem 0rem 1.5rem;
    color: $light-purple;
    @include flex();
    gap: 0rem .3rem;

}

.toggle-theme {
    @include flex($justify: center);
    border-radius: .5rem;
    gap: 0rem 1.5rem;
    background: var(--bg-main);
    padding: .5rem;
    margin: 1rem;

    i {
        svg {
            stroke-width: .5px;
            width: 1.2rem;
            height: 1.2rem;
            color: $gray-blue;
        }
    }

    @media screen and (min-width:48rem) {
        display: none;
    }
}