//  Colors
$darker-purple: hsl(235, 16%, 15%);
$dark-purple: hsl(235, 12%, 19%);
$light-purple: hsl(242, 55%, 57%);
$cyan: hsl(155, 68%, 65%);
$orange: hsl(35, 75%, 59%);
$white: hsl(0, 0%, 100%);
$white2:hsl(220, 69%, 97%);
$black:#040011;
$red: hsl(0, 73%, 61%);
$gray-blue: hsl(216, 15%, 57%);

//hover
$dark-purple--hover:hsl(235, 11%, 24%);